*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(147, 60, 228);
}

.form-somas{
    display: flex;
    justify-content: center;

}

form{
    display: flex;
    justify-content: center;
    background-color: rgb(122, 9, 228);
    width: 400px;
    border-radius: 20px;
}

input, button{
    display: block;
    padding: auto;
    width: 300px;
    height: 50px;
    margin:10px;
    border-radius: 20px;
    border: 0px;
    text-align: center;
}

.botao{
    margin-top: 35px;
}

button{
    cursor: pointer;
}

h1{
    text-align: center;
}